.App {
    text-align: center;
    margin-top: 50px;
}

form {
    display: inline-block;
    text-align: left;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
}

p {
    margin-top: 20px;
    font-size: 1.2em;
}
